.container {
  margin: 20px auto;
  width: 600px;
}

#main-menu{
  position: fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background-color: red;
  height: 50px;
}

#main-menu ul{
  list-style: none;
}

.body {
  padding-top: 50px;
}