<div class="container">

  <div class="correctness">

  </div>
  <div class="card_box">

  </div>
  <form method="post" action="/game/guess">
  <input type="text" name="answer" placeholder="enter answer">
  <button type= "submit">Submit</button>
  </form>

</div>


