<div class="container">

  <div class="correctness">

  </div>
  <div class="card_box">
  <%=@card.front%>
  </div>
  <form method="post" action="/games/guess">
  <input type="text" name="answer" placeholder="enter answer">
  <button type= "submit">Submit</button>
  </form>

</div>


