<div class="container">
  <h1>Flash card</h1>


  <!-- IF USER IS LOGIN -->
  <h3>Choose a deck</h3>
  <ul id="game-list">
    <% @decks.each do |d| %>
      <li><%= d.name %> | </li>
    <% end %>
  </ul>




</div>