<div class="body"> 
  <h3><%= @errors if @errors %></h3>

  <div class="signup_box">
    <ul>Sign Up!</ul>

    <form action="/users/create" method="post">
      <div id="signin_form">
        <label>User name:<input class="signin" type="text" name="user[name]"></label>
        <label>Email:<input class="signin" type="text" name="user[email]"></label>
        <label>Password:<input class="signin" type="password" name="user[password]"></label>
        <button type='submit'>Sign up</button>
      </div>
    </form>
  </div>

  <div class="info_box">
    <ul>Pick a knowledge set </ul> 
    <ul>Track your progress</ul>
    <ul>Have fun!</ul>
  </div>
</div>

<div class="footer">
  Andrew, Eric, Josh & Wayne<br>SF, CA
</div>